In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import pickle
import math
import re
import time
import gc

In [2]:
start_time = time.time()
df1 = pd.read_csv('NetflixPrizeData/combined_data_1_v2.csv', header = None, names = ['CustomerID', 'Rating','MovieID'], usecols = [0,1,3])
df2 = pd.read_csv('NetflixPrizeData/combined_data_2_v2.csv', header = None, names = ['CustomerID', 'Rating','MovieID'], usecols = [0,1,3])
df3 = pd.read_csv('NetflixPrizeData/combined_data_3_v2.csv', header = None, names = ['CustomerID', 'Rating','MovieID'], usecols = [0,1,3])
df4 = pd.read_csv('NetflixPrizeData/combined_data_4_v2.csv', header = None, names = ['CustomerID', 'Rating','MovieID'], usecols = [0,1,3])

df1['Rating'] = df1['Rating'].astype(float)
df2['Rating'] = df2['Rating'].astype(float)
df3['Rating'] = df3['Rating'].astype(float)
df4['Rating'] = df4['Rating'].astype(float)

print('Dataset 1 shape: {}'.format(df1.shape))
print('-Dataset examples-')
print(df1.iloc[::5000000, :])

print('Time taken:'+str((time.time() - start_time))+' seconds')

Dataset 1 shape: (24053764, 3)
-Dataset examples-
          CustomerID  Rating  MovieID
0            1488844     3.0        1
5000000       501954     2.0      996
10000000      404654     5.0     1962
15000000      886608     2.0     2876
20000000     1193835     2.0     3825
Time taken:28.31346893310547 seconds

In [3]:
# load less data for speed
start_time = time.time()

df = df1
df = df1.append(df2)
df = df.append(df3)
df = df.append(df4)

df.index = np.arange(0,len(df))
print('Full dataset shape: {}'.format(df.shape))
print('-Dataset examples-')
print(df.iloc[::5000000, :])

print('Time taken:'+str((time.time() - start_time))+' seconds')

Full dataset shape: (100480507, 3)
-Dataset examples-
           CustomerID  Rating  MovieID
0             1488844     3.0        1
5000000        501954     2.0      996
10000000       404654     5.0     1962
15000000       886608     2.0     2876
20000000      1193835     2.0     3825
25000000      1899206     3.0     4661
30000000       154804     4.0     5496
35000000      2078749     5.0     6274
40000000       450763     5.0     7057
45000000       102092     3.0     7991
50000000       220298     5.0     9023
55000000       550530     5.0    10042
60000000       222570     3.0    11038
65000000      1273080     5.0    11875
70000000      2026970     5.0    12676
75000000       506044     4.0    13582
80000000       353605     2.0    14453
85000000       664606     3.0    15116
90000000      2213715     3.0    16008
95000000      1589401     5.0    16879
100000000     2314006     4.0    17627
Time taken:27.63409996032715 seconds

In [4]:
start_time = time.time()

f = ['count','mean']

df_movie_summary = df.groupby('MovieID')['Rating'].agg(f)
df_movie_summary.index = df_movie_summary.index.map(int)
movie_benchmark = round(df_movie_summary['count'].quantile(0.7),0)
drop_movie_list = df_movie_summary[df_movie_summary['count'] < movie_benchmark].index

print('Movie minimum times of review: {}'.format(movie_benchmark))

df_cust_summary = df.groupby('CustomerID')['Rating'].agg(f)
df_cust_summary.index = df_cust_summary.index.map(int)
cust_benchmark = round(df_cust_summary['count'].quantile(0.7),0)
drop_cust_list = df_cust_summary[df_cust_summary['count'] < cust_benchmark].index

print('Customer minimum times of review: {}'.format(cust_benchmark))

print('Time taken:'+str((time.time() - start_time))+' seconds')

Movie minimum times of review: 1948.0
Customer minimum times of review: 211.0
Time taken:28.476064920425415 seconds

In [5]:
start_time = time.time()

print('Original Shape: {}'.format(df.shape))
df = df[~df['MovieID'].isin(drop_movie_list)]
df = df[~df['CustomerID'].isin(drop_cust_list)]
print('After Trim Shape: {}'.format(df.shape))
print('-Data Examples-')
print(df.iloc[::5000000, :])

print('Time taken:'+str((time.time() - start_time))+' seconds')

Original Shape: (100480507, 3)
After Trim Shape: (71833509, 3)
-Data Examples-
          CustomerID  Rating  MovieID
693           712664     5.0        3
6957956      1973032     4.0     1395
13899167      412139     5.0     2660
20822622     1503396     4.0     3925
27783299     2417320     2.0     5121
34824490     2551271     5.0     6240
41865304     2406150     4.0     7399
48683880     1305391     2.0     8782
55541104      528496     3.0    10158
62639089      599678     2.0    11376
69642938      964493     5.0    12612
76727431      829466     5.0    13923
83750446     2255251     4.0    14953
90844412     1097827     4.0    16169
97921470     1463885     5.0    17321
Time taken:68.24150514602661 seconds

In [6]:
start_time = time.time()

# Sample 100000 (1 million) rows
sample_50_df = df.sample(n = 1000000) 
sample_50_df.insert(3, 'fill', 1)
sample_50_df.sort_values(by=['CustomerID','MovieID'], inplace=True)
# copy.set_index(['CustomerID'], inplace=True)
# copy.sort_index(inplace=True)
# copy.reset_index(inplace=True)
sample_50_df

print('Time taken:'+str((time.time() - start_time))+' seconds')

Time taken:7.100744009017944 seconds

In [7]:
sample_50_df

          CustomerID  Rating  MovieID  fill
649632             6     5.0      175     1
5365839            6     3.0     1096     1
7029960            6     4.0     1406     1
14843182           6     4.0     2862     1
16309033           6     1.0     3151     1
...              ...     ...      ...   ...
13213316     2649429     3.0     2499     1
37780743     2649429     5.0     6720     1
57603045     2649429     4.0    10550     1
68012972     2649429     5.0    12343     1
92225846     2649429     5.0    16377     1

[1000000 rows x 4 columns]

In [8]:
print(len(df['CustomerID'].unique()))
print(len(sample_50_df['CustomerID'].unique()))

144380
142458

In [9]:
print(len(df['MovieID'].unique()))
print(len(sample_50_df['MovieID'].unique()))

5332
5332

In [10]:
gb = sample_50_df.groupby(['CustomerID'])
result = gb['MovieID'].unique()
result = result.reset_index()
result

        CustomerID                                            MovieID
0                6  [175, 1096, 1406, 2862, 3151, 7158, 7643, 1073...
1                7  [3905, 6350, 6971, 7230, 7586, 8105, 8254, 842...
2               10                                            [11152]
3               79  [1615, 1719, 2735, 3422, 3573, 3624, 8301, 868...
4               97                        [3807, 11198, 12195, 12672]
...            ...                                                ...
142453     2649370                         [3917, 7635, 11283, 16075]
142454     2649378                               [3925, 11279, 11521]
142455     2649388                                        [357, 8954]
142456     2649426        [273, 4745, 5327, 5807, 9232, 14898, 15968]
142457     2649429              [30, 2499, 6720, 10550, 12343, 16377]

[142458 rows x 2 columns]

In [11]:
result.dtypes

CustomerID     int64
MovieID       object
dtype: object

In [12]:
feature_dict = dict(zip(result.CustomerID, result.MovieID))
feature_dict[6]

array([  175,  1096,  1406,  2862,  3151,  7158,  7643, 10730, 12513,
       13471, 16997])

In [13]:
import itertools 
	
out = dict(itertools.islice(feature_dict.items(), 5)) 
print("First 5 entries in dict : " + str(out))

First 5 entries in dict : {6: array([  175,  1096,  1406,  2862,  3151,  7158,  7643, 10730, 12513,
       13471, 16997]), 7: array([ 3905,  6350,  6971,  7230,  7586,  8105,  8254,  8428, 12293,
       16233, 16922]), 10: array([11152]), 79: array([ 1615,  1719,  2735,  3422,  3573,  3624,  8301,  8687, 12329,
       12902, 14648, 15818, 15871, 16930, 17302, 17697]), 97: array([ 3807, 11198, 12195, 12672])}

In [14]:
len(feature_dict.items())

142458

In [15]:
x = sample_50_df.groupby('Rating')['Rating'].agg(['count'])
x['percentage'] = (x['count'] / x['count'].sum()) * 100

print(x)
print(x.sum(axis = 0, skipna = True))

         count  percentage
Rating
1.0      40284      4.0284
2.0     100000     10.0000
3.0     299420     29.9420
4.0     341334     34.1334
5.0     218962     21.8962
count         1000000.0
percentage        100.0
dtype: float64

In [16]:
x = df.groupby('Rating')['Rating'].agg(['count'])

x['percentage'] = (x['count'] / x['count'].sum()) * 100

print(x)
print(x.sum(axis = 0, skipna = True))

           count  percentage
Rating
1.0      2908297    4.048663
2.0      7214331   10.043128
3.0     21468990   29.887152
4.0     24516837   34.130084
5.0     15725054   21.890973
count         71833509.0
percentage         100.0
dtype: float64

In [22]:
start_time = time.time()

#for numpy array
df_p_for_nparray = pd.pivot_table(sample_50_df,values='fill',index='CustomerID',columns='MovieID',fill_value=0.0)

print('Time taken:'+str((time.time() - start_time))+' seconds')  
df_p_for_nparray

MovieID,3,8,16,17,18,26,28,30,33,44,...,17741,17743,17751,17756,17758,17761,17762,17763,17764,17769
CustomerID,,,,,,,,,,,,,,,,,,,,,
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
79,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2649378,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2649388,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2649426,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2649429,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
np_array = df_p_for_nparray.to_numpy()
np_array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
np.where(np_array == 1)

In [18]:
#for dict 
# finalllll
start_time = time.time()

# df_p_for_dict = pd.pivot_table(sample_50_df,values='Rating',index='MovieID',columns='CustomerID',fill_value=0.0)
df_p_for_dict = pd.pivot_table(sample_50_df,values='Rating',index='MovieID',columns='CustomerID')

print('Time taken:'+str((time.time() - start_time))+' seconds')  
df_p_for_dict

CustomerID,6,7,10,79,97,134,169,188,195,199,...,2649299,2649308,2649328,2649331,2649336,2649370,2649378,2649388,2649426,2649429
MovieID,,,,,,,,,,,,,,,,,,,,,
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# Old values with 0 in df
df_p_for_dict.mean(axis=1)

MovieID
3        0.000611
8        0.002793
16       0.000856
17       0.001095
18       0.003615
           ...
17761    0.001109
17762    0.010198
17763    0.000625
17764    0.019933
17769    0.001228
Length: 5332, dtype: float64

In [19]:
start_time = time.time()

df_p_copy = df_p_for_dict.copy()
# new_dict = df_p_for_dict.replace(0, np.NaN)

customer_means = df_p_copy.mean()
movie_means = df_p_copy.mean(axis=1)
print(customer_means)
print(movie_means)
movie_means_dict = movie_means.to_dict()
print(movie_means_dict)
print('Time taken:'+str((time.time() - start_time))+' seconds')

CustomerID
6          3.454545
7          3.818182
10         4.000000
79         3.125000
97         4.000000
             ...
2649370    3.250000
2649378    4.000000
2649388    3.000000
2649426    4.285714
2649429    4.500000
Length: 142458, dtype: float64
MovieID
3        3.600000
8        2.874016
16       3.066667
17       2.870370
18       3.762821
           ...
17761    2.833333
17762    3.572519
17763    3.550000
17764    3.842801
17769    2.717647
Length: 5332, dtype: float64

In [37]:
movie_means_dict = movie_means.to_dict()
print(movie_means_dict)

2.875, 15155: 4.0, 15156: 3.5912322274881516, 15158: 2.977272727272727, 15160: 3.4878048780487805, 15163: 3.659217877094972, 15164: 4.030769230769231, 15170: 2.8333333333333335, 15171: 3.0275229357798166, 15177: 3.2950819672131146, 15181: 3.265432098765432, 15182: 3.2298850574712645, 15183: 4.204819277108434, 15186: 3.0294117647058822, 15200: 3.308411214953271, 15205: 3.3853503184713376, 15209: 3.8312958435207825, 15211: 3.3846153846153846, 15223: 3.048, 15224: 2.9615384615384617, 15233: 3.1710296684118675, 15234: 2.96875, 15237: 2.875, 15243: 3.142857142857143, 15244: 2.672727272727273, 15246: 3.663316582914573, 15256: 3.0256410256410255, 15257: 3.5555555555555554, 15260: 2.230769230769231, 15267: 4.090909090909091, 15272: 2.8035714285714284, 15276: 3.769230769230769, 15282: 3.6666666666666665, 15285: 3.033333333333333, 15289: 2.738095238095238, 15294: 4.222222222222222, 15296: 4.557951482479784, 15300: 3.189189189189189, 15305: 3.838709677419355, 15307: 4.3578947368421055, 15309: 3.1594202898550723, 15315: 3.4166666666666665, 15316: 4.368421052631579, 15317: 3.4038461538461537, 15329: 3.0425531914893615, 15333: 4.1395348837209305, 15334: 3.129032258064516, 15335: 3.63265306122449, 15336: 2.963855421686747, 15339: 3.4118852459016393, 15342: 3.476086956521739, 15345: 2.9860279441117763, 15361: 3.3333333333333335, 15362: 3.3157894736842106, 15363: 3.4545454545454546, 15365: 3.325, 15366: 3.5689655172413794, 15373: 3.3257575757575757, 15375: 3.1560283687943262, 15377: 2.8225806451612905, 15378: 3.4782608695652173, 15381: 3.8574468085106384, 15385: 3.677165354330709, 15387: 3.3181818181818183, 15392: 3.9166666666666665, 15393: 3.484, 15394: 3.6806550665301945, 15404: 3.227272727272727, 15409: 3.3349056603773586, 15410: 3.2666666666666666, 15421: 3.897222222222222, 15422: 3.522222222222222, 15424: 3.4501510574018126, 15425: 3.6601941747572817, 15429: 3.9318181818181817, 15431: 3.4035087719298245, 15436: 3.693820224719101, 15437: 4.404761904761905, 15440: 3.7224489795918365, 15443: 3.125, 15444: 3.4193548387096775, 15445: 3.435146443514644, 15447: 3.488372093023256, 15449: 3.4950980392156863, 15450: 3.422641509433962, 15455: 3.5849056603773586, 15457: 3.576923076923077, 15460: 3.575, 15464: 3.48, 15465: 3.140401146131805, 15471: 3.119275825346113, 15472: 3.61698956780924, 15473: 3.329896907216495, 15474: 3.0421686746987953, 15477: 3.3513513513513513, 15481: 3.1262135922330097, 15482: 4.0, 15483: 3.3214285714285716, 15484: 3.8125, 15492: 2.9655172413793105, 15493: 2.9705882352941178, 15496: 3.75, 15500: 4.101449275362318, 15507: 3.1153846153846154, 15509: 4.033333333333333, 15511: 3.2448979591836733, 15513: 3.2777777777777777, 15515: 3.611111111111111, 15529: 3.2758620689655173, 15530: 3.8541666666666665, 15531: 3.5534246575342467, 15532: 3.3732193732193734, 15534: 4.434782608695652, 15539: 2.8260869565217392, 15540: 3.4098765432098768, 15542: 3.391304347826087, 15545: 3.5, 15549: 3.3904109589041096, 15555: 3.2222222222222223, 15557: 4.2592592592592595, 15563: 3.391095066185319, 15568: 4.132075471698113, 15570: 3.225806451612903, 15576: 3.6666666666666665, 15578: 3.6176470588235294, 15582: 3.4272419627749575, 15592: 3.5714285714285716, 15594: 4.203883495145631, 15597: 3.4878048780487805, 15609: 4.471014492753623, 15616: 3.5, 15619: 2.806451612903226, 15627: 3.9115646258503403, 15628: 3.2790697674418605, 15631: 3.5728155339805827, 15634: 3.8548387096774195, 15643: 3.82, 15646: 3.257372654155496, 15647: 3.053763440860215, 15657: 3.725, 15662: 3.923076923076923, 15671: 3.5325779036827196, 15674: 3.5228215767634854, 15677: 3.5428571428571427, 15689: 3.9886363636363638, 15698: 2.3333333333333335, 15699: 3.9516129032258065, 15700: 3.8197674418604652, 15702: 3.897106109324759, 15712: 3.1333333333333333, 15715: 3.5091463414634148, 15720: 3.6956521739130435, 15724: 3.6842105263157894, 15727: 4.244897959183674, 15729: 4.051282051282051, 15730: 3.183246073298429, 15733: 3.6751054852320677, 15736: 3.348314606741573, 15739: 3.723404255319149, 15741: 2.891891891891892, 15747: 3.7083333333333335, 15748: 3.0228571428571427, 15750: 3.36734693877551, 15753: 3.452830188679245, 15755: 3.888983774551665, 15758: 4.0511278195488725, 15759: 2.7096774193548385, 15764: 2.959114139693356, 15769: 3.9239130434782608, 15772: 3.3666666666666667, 15773: 4.295081967213115, 15774: 3.2588235294117647, 15777: 4.4051282051282055, 15784: 4.072289156626506, 15786: 3.8833333333333333, 15787: 3.430379746835443, 15788: 3.4401260504201683, 15798: 3.6, 15800: 3.5762711864406778, 15802: 4.17741935483871, 15803: 3.058333333333333, 15805: 3.375, 15807: 3.954337899543379, 15808: 3.3035714285714284, 15813: 3.050541516245487, 15814: 4.0, 15815: 3.289473684210526, 15816: 3.5992779783393503, 15818: 3.730017761989343, 15820: 3.010752688172043, 15825: 3.6607142857142856, 15829: 3.0491803278688523, 15830: 3.608695652173913, 15836: 4.116666666666666, 15841: 3.4651162790697674, 15843: 3.0656565656565657, 15844: 4.10456062291435, 15846: 4.03030303030303, 15848: 3.6315789473684212, 15853: 3.45, 15855: 3.774193548387097, 15856: 3.4615384615384617, 15858: 3.966666666666667, 15861: 4.528301886792453, 15862: 3.318840579710145, 15867: 3.046511627906977, 15868: 3.6, 15871: 3.943396226415094, 15875: 3.4166666666666665, 15876: 3.671232876712329, 15885: 3.4716981132075473, 15887: 3.207718501702611, 15888: 2.8333333333333335, 15890: 3.857142857142857, 15893: 3.515151515151515, 15894: 3.5055762081784385, 15898: 4.0606060606060606, 15901: 3.1666666666666665, 15902: 4.026239067055394, 15908: 3.388888888888889, 15909: 3.0833333333333335, 15913: 2.6666666666666665, 15917: 3.8055555555555554, 15919: 3.3138686131386863, 15922: 3.843980343980344, 15939: 3.707692307692308, 15940: 3.4285714285714284, 15945: 3.1884057971014492, 15947: 4.4, 15949: 3.4745762711864407, 15952: 3.3864468864468864, 15953: 3.5481651376146788, 15955: 3.5084745762711864, 15956: 3.5771604938271606, 15957: 3.9565217391304346, 15958: 2.411764705882353, 15962: 3.3333333333333335, 15966: 2.9036144578313254, 15967: 3.526315789473684, 15968: 3.308641975308642, 15969: 3.632911392405063, 15974: 3.688311688311688, 15975: 3.8698224852071004, 15979: 3.6136363636363638, 15985: 3.6984126984126986, 15991: 3.575, 15997: 3.911854103343465, 15999: 3.8484848484848486, 16002: 3.536723163841808, 16006: 4.408, 16008: 3.841628959276018, 16016: 3.2794117647058822, 16022: 4.4, 16025: 2.973684210526316, 16030: 3.0317460317460316, 16033: 3.546875, 16037: 3.3466666666666667, 16041: 3.129032258064516, 16046: 3.2222222222222223, 16047: 3.7482517482517483, 16050: 3.4864864864864864, 16052: 3.8155339805825244, 16062: 3.6375, 16063: 3.938517179023508, 16068: 3.5405405405405403, 16075: 3.7252747252747254, 16082: 3.559550561797753, 16083: 4.225806451612903, 16090: 2.4791666666666665, 16094: 3.1538461538461537, 16100: 3.942857142857143, 16103: 4.055555555555555, 16107: 4.1571428571428575, 16113: 3.117283950617284, 16118: 3.152542372881356, 16128: 3.8333333333333335, 16139: 3.5252225519287834, 16143: 3.227272727272727, 16146: 2.1492537313432836, 16147: 4.452153110047847, 16149: 3.3684210526315788, 16150: 3.7590361445783134, 16153: 3.7454545454545456, 16158: 3.732919254658385, 16169: 3.0074626865671643, 16171: 3.3411764705882354, 16172: 3.6818181818181817, 16175: 3.5454545454545454, 16178: 2.8085106382978724, 16181: 3.3651226158038146, 16182: 3.419753086419753, 16183: 3.9245283018867925, 16185: 3.7704918032786887, 16192: 3.2708333333333335, 16193: 2.4871794871794872, 16199: 3.247311827956989, 16201: 3.9215686274509802, 16203: 3.3184931506849313, 16209: 3.2941176470588234, 16215: 3.2777777777777777, 16220: 3.604651162790698, 16222: 3.49468085106383, 16223: 4.030737704918033, 16232: 2.5714285714285716, 16233: 3.76158940397351, 16235: 2.0, 16236: 3.4444444444444446, 16237: 4.283018867924528, 16241: 4.012820512820513, 16242: 3.3751010509296684, 16259: 3.5652173913043477, 16260: 3.6842105263157894, 16262: 3.4147157190635453, 16264: 3.888888888888889, 16265: 4.498883928571429, 16267: 3.0357142857142856, 16272: 3.924586776859504, 16273: 3.1363636363636362, 16278: 3.9197080291970803, 16279: 2.7241379310344827, 16280: 3.45, 16281: 3.760233918128655, 16283: 2.4444444444444446, 16285: 4.0, 16286: 3.583989501312336, 16288: 2.775, 16291: 3.3214285714285716, 16292: 4.12962962962963, 16293: 3.1578947368421053, 16298: 2.7049180327868854, 16302: 4.4071428571428575, 16303: 3.466867469879518, 16306: 3.880701754385965, 16307: 3.409448818897638, 16311: 4.0, 16313: 3.857142857142857, 16318: 4.057971014492754, 16320: 4.208333333333333, 16325: 3.5742857142857143, 16329: 3.4482758620689653, 16337: 2.9210526315789473, 16339: 3.332129963898917, 16340: 3.5, 16343: 3.2913385826771653, 16344: 3.1653543307086616, 16348: 2.9696969696969697, 16349: 4.310344827586207, 16350: 3.0508474576271185, 16356: 4.090909090909091, 16357: 3.401554404145078, 16359: 2.9797979797979797, 16361: 3.663716814159292, 16362: 3.1463414634146343, 16363: 4.244186046511628, 16365: 3.5084745762711864, 16366: 3.3796296296296298, 16376: 3.5185185185185186, 16377: 4.283493708364174, 16380: 3.220048899755501, 16382: 4.055555555555555, 16384: 4.021513944223107, 16387: 3.357142857142857, 16388: 2.8333333333333335, 16389: 2.235294117647059, 16390: 3.3555555555555556, 16393: 3.03125, 16394: 4.366666666666666, 16397: 3.948717948717949, 16399: 4.12962962962963, 16400: 4.0344827586206895, 16406: 3.623684210526316, 16412: 3.6666666666666665, 16415: 3.691891891891892, 16418: 3.5517241379310347, 16419: 3.725, 16431: 4.0, 16438: 3.639470782800441, 16439: 3.6666666666666665, 16440: 2.5555555555555554, 16444: 3.1363636363636362, 16445: 2.8916666666666666, 16452: 3.8292682926829267, 16459: 3.1991869918699187, 16460: 3.763888888888889, 16461: 3.1219512195121952, 16463: 3.413793103448276, 16465: 3.5195652173913046, 16468: 3.75, 16469: 3.361244019138756, 16476: 4.05, 16479: 3.3333333333333335, 16491: 4.0212765957446805, 16495: 3.8830409356725144, 16497: 3.3846153846153846, 16499: 3.8040089086859687, 16500: 3.176470588235294, 16516: 3.1732673267326734, 16522: 3.506172839506173, 16523: 3.1515151515151514, 16524: 4.088888888888889, 16525: 3.59375, 16532: 3.636111111111111, 16534: 3.3076923076923075, 16535: 3.109375, 16538: 3.3728070175438596, 16544: 3.3461538461538463, 16547: 3.36, 16548: 3.5106382978723403, 16550: 3.3, 16551: 3.04, 16552: 3.61010101010101, 16558: 3.967741935483871, 16564: 3.2, 16565: 3.481907894736842, 16567: 3.923076923076923, 16569: 3.3658536585365852, 16572: 3.1496598639455784, 16579: 3.1363636363636362, 16580: 3.885496183206107, 16587: 4.5931372549019605, 16588: 2.9375, 16593: 3.8333333333333335, 16596: 3.752212389380531, 16604: 4.001694915254237, 16605: 3.919254658385093, 16606: 3.402173913043478, 16607: 3.6862745098039214, 16615: 4.1923076923076925, 16616: 3.4545454545454546, 16622: 3.4705882352941178, 16628: 3.55, 16629: 3.7222222222222223, 16630: 3.175, 16634: 3.9150943396226414, 16637: 2.9705882352941178, 16640: 3.044182621502209, 16641: 3.1908396946564888, 16643: 3.4210526315789473, 16644: 3.972413793103448, 16649: 3.9166666666666665, 16660: 3.8219178082191783, 16662: 3.4864864864864864, 16668: 3.9488330341113107, 16671: 3.9, 16676: 3.096774193548387, 16687: 4.146341463414634, 16695: 3.3870967741935485, 16698: 3.886746987951807, 16700: 4.186046511627907, 16701: 3.0833333333333335, 16702: 3.4166666666666665, 16703: 3.580808080808081, 16705: 3.4285714285714284, 16707: 3.6527093596059115, 16709: 3.5641025641025643, 16711: 4.3256578947368425, 16713: 3.3671875, 16718: 3.44, 16721: 3.8122362869198314, 16724: 4.0, 16731: 4.086956521739131, 16733: 3.857142857142857, 16734: 3.806451612903226, 16740: 3.3678343949044587, 16742: 2.6055045871559632, 16745: 4.0, 16751: 3.0, 16755: 3.462962962962963, 16756: 3.0, 16760: 3.360655737704918, 16765: 3.607074569789675, 16767: 3.6610878661087867, 16768: 3.1707317073170733, 16770: 3.264957264957265, 16775: 3.176470588235294, 16784: 3.6933333333333334, 16788: 3.3727272727272726, 16790: 3.2613636363636362, 16791: 3.3194444444444446, 16792: 3.638205499276411, 16793: 3.86056338028169, 16794: 2.6545454545454548, 16796: 3.8767123287671232, 16809: 3.1923076923076925, 16810: 3.9615384615384617, 16822: 3.7037037037037037, 16825: 3.584178498985801, 16834: 3.769230769230769, 16840: 3.73, 16847: 3.9714285714285715, 16848: 2.8043478260869565, 16856: 3.2162162162162162, 16858: 2.948051948051948, 16859: 3.316546762589928, 16860: 4.203125, 16861: 3.5714285714285716, 16862: 3.8620689655172415, 16864: 3.36144578313253, 16865: 3.027027027027027, 16869: 3.338129496402878, 16870: 2.5, 16871: 3.4615384615384617, 16872: 4.040247678018575, 16879: 3.676605504587156, 16882: 3.058087578194817, 16883: 3.4814814814814814, 16885: 3.4857142857142858, 16887: 3.3, 16889: 3.9622641509433962, 16890: 3.2413793103448274, 16891: 3.5270935960591134, 16901: 3.227598566308244, 16903: 3.912280701754386, 16905: 3.2083333333333335, 16907: 3.7777777777777777, 16908: 3.0, 16912: 3.4344978165938866, 16913: 3.6666666666666665, 16917: 3.782608695652174, 16918: 4.068965517241379, 16920: 4.405405405405405, 16922: 3.4271844660194173, 16926: 2.896551724137931, 16930: 3.072961373390558, 16931: 3.5714285714285716, 16936: 2.911764705882353, 16937: 3.740740740740741, 16939: 3.32, 16944: 2.836734693877551, 16946: 3.8813559322033897, 16947: 3.608695652173913, 16948: 3.2127659574468086, 16952: 3.480769230769231, 16954: 4.335218093699515, 16967: 3.2641509433962264, 16969: 3.8846153846153846, 16970: 2.8, 16977: 3.1955555555555555, 16984: 3.2482014388489207, 16986: 3.85, 16991: 3.0454545454545454, 16992: 3.546075085324232, 16994: 4.079268292682927, 16995: 3.7662337662337664, 16997: 3.4042056074766354, 17002: 3.6345514950166113, 17003: 4.2, 17004: 3.6759002770083105, 17008: 3.5080213903743314, 17009: 3.090909090909091, 17010: 3.3055555555555554, 17014: 3.066666666666667, 17023: 3.419642857142857, 17026: 3.0555555555555554, 17027: 3.015625, 17031: 3.1716101694915255, 17036: 4.075, 17047: 2.793103448275862, 17050: 3.090909090909091, 17052: 3.8095238095238093, 17053: 3.1327433628318584, 17057: 3.63953488372093, 17062: 2.8125, 17064: 3.513888888888889, 17070: 3.048780487804878, 17071: 3.836734693877551, 17075: 3.037037037037037, 17079: 2.7252747252747254, 17081: 3.529850746268657, 17085: 4.52991452991453, 17088: 3.7688044338875692, 17096: 3.076923076923077, 17097: 3.141304347826087, 17100: 2.9466666666666668, 17103: 3.1142857142857143, 17104: 3.4074074074074074, 17109: 3.652173913043478, 17111: 3.3, 17112: 3.7547169811320753, 17113: 3.3698630136986303, 17117: 3.8181818181818183, 17127: 2.971014492753623, 17129: 3.5548549810844894, 17131: 3.1052631578947367, 17133: 3.6296296296296298, 17134: 3.2494577006507592, 17135: 2.96875, 17136: 3.359550561797753, 17146: 4.3061224489795915, 17147: 3.2333333333333334, 17149: 3.357320099255583, 17152: 3.4060606060606062, 17154: 3.8712041884816752, 17157: 4.238017871649066, 17158: 3.2195121951219514, 17165: 4.202898550724638, 17168: 3.3448275862068964, 17169: 3.71301775147929, 17171: 3.2857142857142856, 17174: 3.897590361445783, 17175: 3.275, 17176: 3.8564356435643563, 17178: 4.303030303030303, 17179: 3.34, 17180: 3.245, 17181: 3.2, 17184: 4.081081081081081, 17187: 4.102362204724409, 17188: 3.7551020408163267, 17189: 3.8359375, 17195: 3.52258064516129, 17196: 3.409090909090909, 17207: 3.6307692307692307, 17211: 3.8518518518518516, 17212: 3.925925925925926, 17215: 3.7785714285714285, 17216: 3.120879120879121, 17219: 4.3584905660377355, 17221: 2.6051502145922747, 17225: 3.8055555555555554, 17229: 3.3529411764705883, 17230: 3.8823529411764706, 17241: 2.71875, 17243: 3.0476190476190474, 17245: 3.8333333333333335, 17247: 3.533333333333333, 17248: 3.5142857142857142, 17249: 3.260869565217391, 17250: 3.8666666666666667, 17251: 3.057017543859649, 17259: 3.802721088435374, 17261: 3.3289473684210527, 17262: 3.3181818181818183, 17263: 3.5588235294117645, 17264: 3.5476190476190474, 17274: 2.52, 17275: 3.75, 17277: 2.857142857142857, 17280: 2.896551724137931, 17281: 2.960674157303371, 17287: 2.933333333333333, 17292: 3.893617021276596, 17293: 3.0416666666666665, 17295: 3.233898305084746, 17299: 3.6214285714285714, 17302: 3.6910569105691056, 17303: 2.8151260504201683, 17307: 4.511111111111111, 17308: 3.5216989843028625, 17311: 4.078947368421052, 17312: 3.255813953488372, 17314: 3.76, 17319: 3.7422360248447206, 17320: 2.5925925925925926, 17321: 3.7540983606557377, 17323: 2.9318181818181817, 17324: 3.8584686774941996, 17328: 4.162295081967213, 17330: 3.372137404580153, 17335: 3.891891891891892, 17338: 3.033333333333333, 17339: 4.100128369704749, 17341: 3.452054794520548, 17343: 3.3363636363636364, 17346: 3.684587813620072, 17355: 3.5650557620817844, 17357: 3.4047619047619047, 17358: 3.2453703703703702, 17361: 2.946308724832215, 17379: 3.25, 17381: 3.952191235059761, 17385: 2.854368932038835, 17387: 3.4644808743169397, 17393: 2.4583333333333335, 17395: 3.1463414634146343, 17396: 3.0294117647058822, 17397: 4.016129032258065, 17398: 3.033112582781457, 17401: 3.303030303030303, 17402: 3.9833333333333334, 17403: 3.857142857142857, 17405: 3.555992141453831, 17409: 2.7222222222222223, 17411: 3.8295454545454546, 17412: 4.112582781456954, 17418: 3.6363636363636362, 17423: 3.5121951219512195, 17424: 3.9690402476780187, 17426: 3.757396449704142, 17428: 2.9310344827586206, 17431: 3.8309859154929575, 17434: 3.1627906976744184, 17435: 3.75, 17437: 3.64, 17438: 3.9545454545454546, 17441: 3.6435406698564594, 17449: 3.871345029239766, 17452: 2.956140350877193, 17453: 2.52, 17460: 4.16, 17467: 3.832116788321168, 17468: 3.6739130434782608, 17469: 3.310344827586207, 17472: 3.7900552486187844, 17474: 4.136476426799008, 17479: 3.49438202247191, 17480: 4.298701298701299, 17481: 2.75, 17482: 3.555133079847909, 17491: 3.276190476190476, 17492: 3.1666666666666665, 17494: 3.598360655737705, 17495: 3.0833333333333335, 17498: 2.816326530612245, 17499: 4.010695187165775, 17506: 3.0604026845637584, 17508: 3.8078602620087336, 17513: 3.449612403100775, 17525: 3.5714285714285716, 17526: 3.876543209876543, 17529: 2.696969696969697, 17533: 3.6635944700460827, 17535: 3.5806451612903225, 17536: 3.9761904761904763, 17537: 3.4329501915708813, 17539: 3.397590361445783, 17540: 3.423076923076923, 17541: 3.3700440528634363, 17546: 3.466666666666667, 17549: 3.5588235294117645, 17555: 3.5217391304347827, 17558: 3.4405940594059405, 17559: 3.3008849557522124, 17560: 3.8614982578397212, 17561: 3.380952380952381, 17562: 3.3333333333333335, 17563: 3.586206896551724, 17565: 2.901840490797546, 17570: 4.181818181818182, 17572: 3.4705882352941178, 17573: 3.4166666666666665, 17574: 3.653409090909091, 17578: 3.4919354838709675, 17580: 3.07035175879397, 17586: 2.7093023255813953, 17589: 2.9329608938547485, 17591: 3.8739495798319328, 17597: 3.5161290322580645, 17603: 3.0825688073394497, 17612: 4.088235294117647, 17614: 3.257142857142857, 17619: 4.25, 17621: 3.457700650759219, 17622: 3.086131386861314, 17624: 3.4347826086956523, 17625: 3.1470588235294117, 17627: 4.028756957328386, 17628: 3.925373134328358, 17631: 3.63265306122449, 17632: 4.048780487804878, 17633: 3.511627906976744, 17638: 3.318840579710145, 17641: 4.095238095238095, 17642: 3.6666666666666665, 17649: 3.3488372093023258, 17653: 3.3142857142857145, 17654: 3.0, 17661: 4.24, 17662: 3.0793650793650795, 17671: 3.7053140096618358, 17672: 3.7005988023952097, 17675: 3.057142857142857, 17681: 3.8484848484848486, 17682: 4.460992907801418, 17687: 4.530120481927711, 17692: 3.0259067357512954, 17693: 2.945945945945946, 17697: 2.953125, 17701: 3.08, 17703: 2.771505376344086, 17707: 3.7966101694915255, 17709: 3.7916666666666665, 17711: 2.7857142857142856, 17714: 4.042553191489362, 17716: 3.923076923076923, 17723: 3.676470588235294, 17724: 3.814159292035398, 17725: 3.5555555555555554, 17730: 3.388888888888889, 17741: 3.15, 17743: 3.014925373134328, 17751: 3.6551724137931036, 17756: 3.7738095238095237, 17758: 2.4285714285714284, 17761: 2.8333333333333335, 17762: 3.572519083969466, 17763: 3.55, 17764: 3.842800528401585, 17769: 2.7176470588235295}

In [30]:
sub_df = df_p_copy.sub(movie_means, axis=0) 
sub_df

CustomerID,6,7,10,79,97,134,169,188,195,199,...,2649299,2649308,2649328,2649331,2649336,2649370,2649378,2649388,2649426,2649429
MovieID,,,,,,,,,,,,,,,,,,,,,
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17761,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17762,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
sub_df = sub_df.transpose()
sub_df

MovieID,3,8,16,17,18,26,28,30,33,44,...,17741,17743,17751,17756,17758,17761,17762,17763,17764,17769
CustomerID,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.26506,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
sub_df.fillna(value=movie_means, inplace= True)

In [36]:
sub_df

MovieID,3,8,16,17,18,26,28,30,33,44,...,17741,17743,17751,17756,17758,17761,17762,17763,17764,17769
CustomerID,,,,,,,,,,,,,,,,,,,,,
6,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
7,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
10,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
79,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
97,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2649370,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
2649378,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
2649388,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
2649426,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,3.73494,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647
2649429,3.6,2.874016,3.066667,2.87037,3.762821,2.787234,3.85618,1.26506,4.189873,3.689655,...,3.15,3.014925,3.655172,3.77381,2.428571,2.833333,3.572519,3.55,3.842801,2.717647

In [ ]:
sample = sub_df.sample(n = 50) 
sample = sample.sample(n = 50, axis =1) 
sample

In [99]:
f = sub_df.replace(np.nan, movie_means)
f
for index in sub_df.index:
    sub_df.loc[index,10] = movie_means[index]

CustomerID,6,7,10,79,97,116,134,169,188,195,...,2649308,2649328,2649331,2649335,2649336,2649370,2649378,2649388,2649426,2649429
MovieID,,,,,,,,,,,,,,,,,,,,,
3,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17761,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17762,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17763,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17764,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17769,NaN,NaN,NaN,3.75,3.854167,NaN,NaN,NaN,2.590909,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_dict = df_p_for_dict.to_dict()
df_dict