In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import pickle
import math
import re
import time
import gc

In [2]:
start_time = time.time()
df1 = pd.read_csv('NetflixPrizeData/combined_data_1_v2.csv', header = None, names = ['CustomerID', 'Rating','MovieID'], usecols = [0,1,3])
df2 = pd.read_csv('NetflixPrizeData/combined_data_2_v2.csv', header = None, names = ['CustomerID', 'Rating','MovieID'], usecols = [0,1,3])
df3 = pd.read_csv('NetflixPrizeData/combined_data_3_v2.csv', header = None, names = ['CustomerID', 'Rating','MovieID'], usecols = [0,1,3])
df4 = pd.read_csv('NetflixPrizeData/combined_data_4_v2.csv', header = None, names = ['CustomerID', 'Rating','MovieID'], usecols = [0,1,3])

df1['Rating'] = df1['Rating'].astype(float)
df2['Rating'] = df2['Rating'].astype(float)
df3['Rating'] = df3['Rating'].astype(float)
df4['Rating'] = df4['Rating'].astype(float)

print('Dataset 1 shape: {}'.format(df1.shape))
print('-Dataset examples-')
print(df1.iloc[::5000000, :])

print('Time taken:'+str((time.time() - start_time))+' seconds')

Dataset 1 shape: (24053764, 3)
-Dataset examples-
          CustomerID  Rating  MovieID
0            1488844     3.0        1
5000000       501954     2.0      996
10000000      404654     5.0     1962
15000000      886608     2.0     2876
20000000     1193835     2.0     3825
Time taken:29.71516704559326 seconds

In [16]:
# load less data for speed

df = df1
# df = df1.append(df2)
# df = df.append(df3)
# df = df.append(df4)

df.index = np.arange(0,len(df))
print('Full dataset shape: {}'.format(df.shape))
print('-Dataset examples-')
print(df.iloc[::5000000, :])

Full dataset shape: (24053764, 3)
-Dataset examples-
          CustomerID  Rating  MovieID
0            1488844     3.0        1
5000000       501954     2.0      996
10000000      404654     5.0     1962
15000000      886608     2.0     2876
20000000     1193835     2.0     3825

In [17]:
f = ['count','mean']

df_movie_summary = df.groupby('MovieID')['Rating'].agg(f)
df_movie_summary.index = df_movie_summary.index.map(int)
movie_benchmark = round(df_movie_summary['count'].quantile(0.7),0)
drop_movie_list = df_movie_summary[df_movie_summary['count'] < movie_benchmark].index

print('Movie minimum times of review: {}'.format(movie_benchmark))

df_cust_summary = df.groupby('CustomerID')['Rating'].agg(f)
df_cust_summary.index = df_cust_summary.index.map(int)
cust_benchmark = round(df_cust_summary['count'].quantile(0.7),0)
drop_cust_list = df_cust_summary[df_cust_summary['count'] < cust_benchmark].index

print('Customer minimum times of review: {}'.format(cust_benchmark))

Movie minimum times of review: 1799.0
Customer minimum times of review: 52.0

In [18]:
print('Original Shape: {}'.format(df.shape))
df = df[~df['MovieID'].isin(drop_movie_list)]
df = df[~df['CustomerID'].isin(drop_cust_list)]
print('After Trim Shape: {}'.format(df.shape))
print('-Data Examples-')
print(df.iloc[::5000000, :])

Original Shape: (24053764, 3)
After Trim Shape: (17337458, 3)
-Data Examples-
          CustomerID  Rating  MovieID
693           712664     5.0        3
6931106      1299309     5.0     1384
13857613      400155     3.0     2660
20762607      466962     4.0     3923

In [83]:
# First 50000 rows
first_50_df = df[0:500000]
first_50_df

        CustomerID  Rating  MovieID
693         712664     5.0        3
694        1331154     4.0        3
695        2632461     3.0        3
696          44937     5.0        3
697         656399     4.0        3
...            ...     ...      ...
697401       13938     3.0      187
697402      202572     3.0      187
697403     2200010     4.0      187
697405     2583202     3.0      187
697406     2328701     4.0      187

[500000 rows x 3 columns]

In [84]:
duplicates = first_50_df.duplicated(subset='CustomerID', keep=False)
duplicates

693       True
694       True
695       True
696       True
697       True
          ...
697401    True
697402    True
697403    True
697405    True
697406    True
Length: 500000, dtype: bool

In [21]:
d_np = duplicates.to_numpy()
d_np

array([ True,  True, False, ..., False, False, False])

In [22]:
np.where(d_np == False)

(array([    2,     3,     4, ..., 49997, 49998, 49999]),)

In [85]:
first_50_df.dtypes

CustomerID      int64
Rating        float64
MovieID         int64
dtype: object

In [86]:
x = first_50_df.groupby('Rating')['Rating'].agg(['count'])
print(x)
print(x.sum(axis = 0, skipna = True))

         count
Rating
1.0      21786
2.0      50347
3.0     145809
4.0     175638
5.0     106420
count    500000
dtype: int64

In [ ]:
df.set_index('CustomerID',inplace=True, drop=True)
df

In [ ]:
df = df.reset_index()
df

In [33]:
print(len(df['CustomerID'].unique()))
print(len(first_50_df['CustomerID'].unique()))

143458
41795

In [34]:
print(len(df['MovieID'].unique()))
print(len(first_50_df['MovieID'].unique()))

1350
7

In [51]:
df_p = pd.pivot_table(first_50_df,values='Rating',index='MovieID',columns='CustomerID',fill_value=0.0)
df_p

CustomerID,7,201,265,383,424,462,592,695,742,906,...,2648885,2648956,2649050,2649067,2649093,2649100,2649308,2649336,2649378,2649426
MovieID,,,,,,,,,,,,,,,,,,,,,
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,5,0,0,0,0,0,0,1,4,0,...,0,4,0,0,0,0,0,4,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,2,0,0,0,0,4
18,0,0,0,0,4,0,0,0,0,0,...,0,0,3,0,0,0,4,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,3,2,0,0,0,0,0
28,4,4,3,3,0,0,4,0,0,3,...,4,0,0,0,0,5,0,0,3,4

In [52]:
df_dict = df_p.to_dict()
df_dict

0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 41701: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 41724: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 41737: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 41840: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 41907: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 41920: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 41946: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 1, 28: 0},
 42064: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 4},
 42093: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 42099: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 42128: {3: 0, 8: 1, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 42147: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 42222: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 42281: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 42362: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 42416: {3: 0, 8: 1, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 42445: {3: 0, 8: 0, 16: 0, 17: 5, 18: 0, 26: 0, 28: 0},
 42501: {3: 0, 8: 3, 16: 0, 17: 3, 18: 0, 26: 2, 28: 0},
 42579: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 42786: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 42863: {3: 0, 8: 1, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 42919: {3: 0, 8: 0, 16: 3, 17: 0, 18: 0, 26: 0, 28: 0},
 43023: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 43039: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 1, 28: 0},
 43064: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 43080: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 43141: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 43177: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 2},
 43279: {3: 0, 8: 0, 16: 0, 17: 5, 18: 0, 26: 0, 28: 0},
 43293: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 43530: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 43729: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 43751: {3: 0, 8: 4, 16: 0, 17: 0, 18: 3, 26: 0, 28: 3},
 43816: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 43991: {3: 0, 8: 0, 16: 0, 17: 1, 18: 0, 26: 0, 28: 5},
 44090: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 44140: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 44230: {3: 0, 8: 0, 16: 0, 17: 1, 18: 0, 26: 0, 28: 4},
 44317: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 44319: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 44397: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 44434: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 1, 28: 0},
 44481: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 44540: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 44737: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 44769: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 2},
 44772: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 44777: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 44783: {3: 3, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 44807: {3: 0, 8: 0, 16: 1, 17: 0, 18: 5, 26: 0, 28: 0},
 44887: {3: 0, 8: 1, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 44937: {3: 5, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 45018: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 1},
 45207: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 4},
 45234: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 45349: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 45392: {3: 0, 8: 0, 16: 3, 17: 0, 18: 0, 26: 0, 28: 4},
 45608: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 45619: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 45647: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 45656: {3: 0, 8: 0, 16: 2, 17: 0, 18: 0, 26: 0, 28: 0},
 45818: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 45937: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 46007: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 46036: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 46086: {3: 4, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 46140: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 46222: {3: 4, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 46263: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 46650: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 46711: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 46716: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 46773: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 46827: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 46846: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 2},
 46903: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 46913: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 46929: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 1},
 47075: {3: 0, 8: 0, 16: 4, 17: 0, 18: 0, 26: 0, 28: 5},
 47080: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 47198: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 47226: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 47269: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 47312: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 47344: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 2, 28: 0},
 47411: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 47541: {3: 3, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 47607: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 47669: {3: 0, 8: 0, 16: 4, 17: 0, 18: 4, 26: 0, 28: 0},
 47825: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 47868: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 47891: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 47998: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 48031: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 48181: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 48198: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 48210: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 48222: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 48277: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 48281: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 48282: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 48285: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 48289: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 48374: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 48607: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 48630: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 2, 28: 0},
 48741: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 48943: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 49037: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 49051: {3: 0, 8: 0, 16: 0, 17: 2, 18: 0, 26: 0, 28: 0},
 49073: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 49129: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 3, 28: 0},
 49142: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 49229: {3: 0, 8: 0, 16: 0, 17: 5, 18: 0, 26: 0, 28: 0},
 49330: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 49459: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 49585: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 2, 28: 3},
 49828: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 49833: {3: 0, 8: 0, 16: 4, 17: 0, 18: 0, 26: 0, 28: 0},
 49890: {3: 0, 8: 0, 16: 5, 17: 0, 18: 5, 26: 3, 28: 5},
 49892: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 49924: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 49942: {3: 0, 8: 0, 16: 0, 17: 1, 18: 0, 26: 0, 28: 0},
 50057: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 50095: {3: 0, 8: 0, 16: 0, 17: 0, 18: 2, 26: 0, 28: 0},
 50123: {3: 3, 8: 0, 16: 2, 17: 0, 18: 0, 26: 0, 28: 0},
 50214: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 2, 28: 0},
 50253: {3: 0, 8: 0, 16: 1, 17: 0, 18: 0, 26: 0, 28: 4},
 50259: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 1},
 50360: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 50669: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 2},
 50704: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 50787: {3: 0, 8: 0, 16: 0, 17: 2, 18: 0, 26: 0, 28: 0},
 50893: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 51233: {3: 0, 8: 5, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 51247: {3: 0, 8: 3, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 51295: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 51451: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 51530: {3: 0, 8: 0, 16: 0, 17: 0, 18: 1, 26: 0, 28: 3},
 51618: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 2},
 51717: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 51870: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 51873: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 52000: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 52008: {3: 0, 8: 0, 16: 0, 17: 4, 18: 0, 26: 0, 28: 0},
 52021: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 2, 28: 0},
 52029: {3: 0, 8: 0, 16: 5, 17: 0, 18: 0, 26: 0, 28: 3},
 52100: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 52138: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 52153: {3: 0, 8: 3, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 52216: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 3, 28: 0},
 52263: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 52352: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 52439: {3: 0, 8: 1, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 52460: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 52540: {3: 1, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 52591: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 3, 28: 0},
 52630: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 52631: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 52645: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 52681: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 53030: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 53043: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 53074: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 53191: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 53243: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 53364: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 53503: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 53521: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 53604: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 53629: {3: 0, 8: 0, 16: 2, 17: 0, 18: 0, 26: 0, 28: 0},
 53633: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 1, 28: 0},
 53668: {3: 0, 8: 0, 16: 3, 17: 0, 18: 0, 26: 0, 28: 0},
 53688: {3: 0, 8: 0, 16: 5, 17: 0, 18: 0, 26: 0, 28: 0},
 53694: {3: 4, 8: 0, 16: 3, 17: 0, 18: 4, 26: 0, 28: 0},
 53832: {3: 0, 8: 0, 16: 1, 17: 0, 18: 0, 26: 0, 28: 5},
 53878: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 1},
 53951: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 54015: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 54040: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 3, 28: 0},
 54136: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 54150: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 54256: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 54325: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 54333: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 54412: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 54492: {3: 0, 8: 0, 16: 0, 17: 4, 18: 0, 26: 0, 28: 0},
 54514: {3: 0, 8: 0, 16: 0, 17: 2, 18: 0, 26: 4, 28: 0},
 54606: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 54614: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 54778: {3: 0, 8: 0, 16: 0, 17: 2, 18: 0, 26: 0, 28: 0},
 54870: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 54897: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 54900: {3: 0, 8: 0, 16: 5, 17: 0, 18: 0, 26: 0, 28: 0},
 55023: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 2},
 55199: {3: 0, 8: 0, 16: 0, 17: 4, 18: 0, 26: 3, 28: 0},
 55272: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 55290: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 55296: {3: 4, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 55339: {3: 0, 8: 0, 16: 5, 17: 0, 18: 0, 26: 3, 28: 0},
 55721: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 55723: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 55799: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 2},
 55825: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 55878: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 55913: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 55993: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 56036: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 56069: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 56222: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 56309: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 56310: {3: 0, 8: 0, 16: 3, 17: 0, 18: 0, 26: 0, 28: 4},
 56371: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 2},
 56578: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 56741: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 56790: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 56854: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 1, 28: 0},
 56858: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 57183: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 57186: {3: 0, 8: 0, 16: 1, 17: 0, 18: 0, 26: 0, 28: 3},
 57193: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 57344: {3: 0, 8: 0, 16: 3, 17: 0, 18: 0, 26: 0, 28: 0},
 57565: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 57633: {3: 4, 8: 0, 16: 0, 17: 0, 18: 3, 26: 3, 28: 0},
 57816: {3: 0, 8: 0, 16: 0, 17: 4, 18: 0, 26: 0, 28: 0},
 57843: {3: 0, 8: 0, 16: 0, 17: 2, 18: 0, 26: 0, 28: 0},
 57993: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 58066: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 58161: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 58261: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 58342: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 58374: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 58399: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 58415: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 58479: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 58495: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 3, 28: 0},
 58802: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 58819: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 58820: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 59052: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 2, 28: 0},
 59115: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 59140: {3: 0, 8: 0, 16: 3, 17: 0, 18: 3, 26: 0, 28: 0},
 59143: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 59218: {3: 0, 8: 0, 16: 0, 17: 2, 18: 0, 26: 0, 28: 0},
 59257: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 59270: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 59433: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 59524: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 59539: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 59656: {3: 0, 8: 0, 16: 4, 17: 0, 18: 0, 26: 0, 28: 0},
 59663: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 59697: {3: 0, 8: 0, 16: 0, 17: 4, 18: 0, 26: 3, 28: 0},
 59808: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 59901: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 59913: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 59936: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 60037: {3: 0, 8: 1, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 60171: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 60194: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 60293: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 3, 28: 0},
 60296: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 60303: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 60521: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 2, 28: 0},
 60538: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 60539: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 3, 28: 0},
 60706: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 3},
 60746: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 60973: {3: 4, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 61017: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 61220: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 61274: {3: 0, 8: 0, 16: 0, 17: 0, 18: 5, 26: 0, 28: 0},
 61322: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 61343: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 61483: {3: 0, 8: 1, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 61546: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 2},
 61611: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 61765: {3: 4, 8: 2, 16: 0, 17: 0, 18: 5, 26: 3, 28: 0},
 61863: {3: 0, 8: 4, 16: 0, 17: 0, 18: 5, 26: 0, 28: 3},
 62054: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 62108: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 62268: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 62279: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 62285: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 2, 28: 4},
 62346: {3: 0, 8: 0, 16: 3, 17: 4, 18: 0, 26: 0, 28: 0},
 62361: {3: 0, 8: 4, 16: 0, 17: 0, 18: 3, 26: 0, 28: 3},
 62449: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 62499: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 62583: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 62655: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 62691: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 3, 28: 0},
 62694: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 62753: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 63025: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 63298: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 63367: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 63382: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 63452: {3: 0, 8: 1, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 63471: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 63475: {3: 0, 8: 0, 16: 0, 17: 4, 18: 0, 26: 3, 28: 5},
 63493: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 5},
 63623: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 63740: {3: 0, 8: 0, 16: 0, 17: 2, 18: 0, 26: 2, 28: 0},
 63971: {3: 4, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 64120: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 64373: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 64491: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 1},
 64536: {3: 0, 8: 0, 16: 0, 17: 2, 18: 0, 26: 0, 28: 4},
 64594: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 64612: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 64627: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 64741: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 64743: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 64902: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 64996: {3: 0, 8: 0, 16: 3, 17: 0, 18: 0, 26: 0, 28: 0},
 65003: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 65292: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 65605: {3: 0, 8: 0, 16: 0, 17: 4, 18: 0, 26: 0, 28: 0},
 65609: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 65710: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 65860: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 65902: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 65926: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 66109: {3: 0, 8: 0, 16: 0, 17: 3, 18: 0, 26: 0, 28: 0},
 66120: {3: 0, 8: 0, 16: 0, 17: 4, 18: 0, 26: 2, 28: 0},
 66179: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 3},
 66326: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 66347: {3: 0, 8: 0, 16: 0, 17: 0, 18: 4, 26: 0, 28: 0},
 66358: {3: 0, 8: 3, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 66414: {3: 5, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 66436: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 4, 28: 0},
 66451: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 2},
 66490: {3: 0, 8: 0, 16: 0, 17: 1, 18: 0, 26: 0, 28: 0},
 66540: {3: 0, 8: 1, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 66552: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 66570: {3: 0, 8: 2, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 66580: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 66585: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 66608: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 66644: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 5},
 66852: {3: 3, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 66857: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 66871: {3: 0, 8: 0, 16: 0, 17: 0, 18: 3, 26: 0, 28: 0},
 66885: {3: 0, 8: 0, 16: 1, 17: 0, 18: 0, 26: 0, 28: 0},
 66902: {3: 0, 8: 5, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 67134: {3: 0, 8: 0, 16: 2, 17: 0, 18: 0, 26: 2, 28: 0},
 67179: {3: 0, 8: 4, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 67258: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 4},
 67300: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 3},
 67315: {3: 4, 8: 0, 16: 0, 17: 0, 18: 0, 26: 0, 28: 0},
 67468: {3: 0, 8: 0, 16: 0, 17: 0, 18: 0, 26: 2, 28: 0},
 ...}

In [54]:
df_title = pd.read_csv('NetflixPrizeData/movie_titles2.csv', encoding = "ISO-8859-1", header = None, names = ['Movie_Id', 'Year', 'Name'],usecols = [0,1,2])
df_title.set_index('Movie_Id', inplace = True)
df_title

            Year                                               Name
Movie_Id
1         2003.0                                    Dinosaur Planet
2         2004.0                         Isle of Man TT 2004 Review
3         1997.0                                          Character
4         1994.0                       Paula Abdul's Get Up & Dance
5         2004.0                           The Rise and Fall of ECW
...          ...                                                ...
17766     2002.0  Where the Wild Things Are and Other Maurice Se...
17767     2004.0                  Fidel Castro: American Experience
17768     2000.0                                              Epoch
17769     2003.0                                        The Company
17770     2003.0                                       Alien Hunter

[17770 rows x 2 columns]

In [81]:
# get column value by index pandas
df_title.loc[1,'Name']

'Dinosaur Planet'

In [78]:
 df_title.columns.tolist()

['Year', 'Name']

In [38]:
movie_titles = df_title.index
movie_titles

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            17761, 17762, 17763, 17764, 17765, 17766, 17767, 17768, 17769,
            17770],
           dtype='int64', name='Movie_Id', length=17770)

In [ ]:
df_p_raw = df_p.copy()

In [ ]:
pickle.dump(df_p,open('pickleFiles/pivotTable.p','wb'))

In [82]:
movie_titles = movie_titles.tolist() #convert pandas.core.indexes.numeric.Int64Index to list type to use with pivot table

AttributeError: 'list' object has no attribute 'tolist'

In [ ]:
movie_ID_list = list(map(str, range(1,17771))) #method 2 create a int list
print(movie_ID_list[:5])
print(movie_ID_list[17765:])

In [ ]:
df.columns.tolist() #extra

In [ ]:
if not df_p:
    df_p = pickle.load(open('pivotTable.p','rb'))

In [40]:
np_array = df_p.to_numpy()
len(np_array)

41795

In [41]:
np_array

array([[0, 5, 0, ..., 0, 0, 4],
       [0, 0, 0, ..., 0, 0, 4],
       [0, 0, 0, ..., 0, 0, 3],
       ...,
       [0, 4, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 3],
       [0, 0, 0, ..., 0, 0, 4]])

In [ ]:
pickle.dump(np_array,open('pickleFiles/numpyArray.p','wb'))

In [ ]:
del df
gc.collect()