In [1]:
# import packages
import pandas as pd
import numpy as np
import seaborn as sns

print(pd.__version__)

import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib
plt.style.use('ggplot')
from matplotlib.pyplot import figure

%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12,8)

pd.options.mode.chained_assignment = None

1.1.3

In [52]:
import time
import gc

In [ ]:
pd.show_versions()

In [3]:
start_time = time.time()

path_csv = '/Users/Subbalakshmi/Desktop/archive/combined_data_1.txt'
movieIDIndexes = {}
with open(path_csv) as f:
    lines = f.readlines()
    k = 0
    for i in range(len(lines)):
        if(lines[i].strip().endswith(':')):
            if k==0:
                firstIndex = i
                prevValue = lines[i].strip()[:-1]
            else:
                movieIDIndexes[i] = prevValue
                prevValue = lines[i].strip()[:-1]

            k = k+1

    print(len(lines))
    first10pairs = {k: movieIDIndexes[k] for k in list(movieIDIndexes)[:10]}
    print(first10pairs)
    OmitIndexesList = list(movieIDIndexes.keys())
    OmitIndexesList.append(firstIndex)
    print('Nothing took '+str((time.time() - start_time))+' seconds')   
    del start_time,prevValue,i,k,first10pairs,f,lines

24058263
{548: '1', 694: '2', 2707: '3', 2850: '4', 3991: '5', 5011: '6', 5105: '7', 20016: '8', 20112: '9', 20362: '10'}
Nothing took 13.743893384933472 seconds

In [17]:
# read the data
start_time = time.time()
# df = pd.read_csv('/Users/Subbalakshmi/Desktop/archive/movie_titles2.csv',header=None, engine='python') #Movie_titles.csv
df = pd.read_csv('/Users/Subbalakshmi/Desktop/archive/combined_data_1.txt',header=None, nrows=10000,skiprows=(lambda x: x in OmitIndexesList),parse_dates=[2],dtype={0: 'int64', 1: 'int64'})
# ,header=None,sep=',',usecols=[0,1,2,3,4,5],,encoding='latin1',nrows=10

# chunks = pd.read_csv('/Users/Subbalakshmi/Desktop/archive/combined_data_1.txt',header=None, engine='python',skiprows=(lambda x: x in OmitIndexesList),parse_dates=[2], chunksize=1000000)
# df = pd.concat(chunks)
print('Nothing took '+str((time.time() - start_time))+' seconds')

Nothing took 0.5965898036956787 seconds

In [19]:
# print(df)
# print(len(df.columns))
df
# print(df.index) #Print all indexes in the df
# print(len(df.columns))
# df.info()
# df.dtypes

            0  1          2
0     1488844  3 2005-09-06
1      822109  5 2005-05-13
2      885013  4 2005-10-19
3       30878  4 2005-12-26
4      823519  3 2004-05-03
...       ... ..        ...
9995  2607116  2 2005-05-22
9996  1372927  2 2005-05-23
9997   466651  4 2005-05-25
9998   433583  3 2005-05-27
9999  1987931  1 2005-05-31

[10000 rows x 3 columns]

In [53]:

# OmitIndexesList.remove(firstIndex)
movieIDsList = []
for row in df.index: 
    res = list(filter(lambda i: i > row, OmitIndexesList))[0]   
    movieIDsList.append(movieIDIndexes[res])
df["MovieID"] = movieIDsList
del movieIDsList,movieIDIndexes,firstIndex,OmitIndexesList,res,row,start_time
gc.collect()
print(df)
print(df.values[5105])

            0  1          2 MovieID
0     1488844  3 2005-09-06       1
1      822109  5 2005-05-13       1
2      885013  4 2005-10-19       1
3       30878  4 2005-12-26       1
4      823519  3 2004-05-03       1
...       ... ..        ...     ...
9995  2607116  2 2005-05-22       8
9996  1372927  2 2005-05-23       8
9997   466651  4 2005-05-25       8
9998   433583  3 2005-05-27       8
9999  1987931  1 2005-05-31       8

[10000 rows x 4 columns]

In [55]:

# shape and data types of the data
print(df.shape) #No of rows,No of columns
# print(df.dtypes) #Describe data types of each column
df.rename(columns={0: "CustomerID", 1: "Rating", 2:"Date"},inplace=True) #Rename Column Names
df.info() #Gives overall description
print(df)

(10000, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  10000 non-null  int64
 1   Rating      10000 non-null  int64
 2   Date        10000 non-null  datetime64[ns]
 3   MovieID     10000 non-null  object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 312.6+ KB
      CustomerID  Rating       Date MovieID
0        1488844       3 2005-09-06       1
1         822109       5 2005-05-13       1
2         885013       4 2005-10-19       1
3          30878       4 2005-12-26       1
4         823519       3 2004-05-03       1
...          ...     ...        ...     ...
9995     2607116       2 2005-05-22       8
9996     1372927       2 2005-05-23       8
9997      466651       4 2005-05-25       8
9998      433583       3 2005-05-27       8
9999     1987931       1 2005-05-31       8

[10000 rows x 4 columns]

In [ ]:
df['Title'] = df[2].str.cat(df[[3,4,5]], sep='',na_rep='')
df.drop([2,3,4,5], axis=1, inplace=True)
df.rename(columns={0: "MovieID", 1: "YearOfRelease"},inplace=True) #Rename Column Names

In [ ]:
# df.columns = ['Name'] #Assign Column Names
# df.rename(columns={0: "MovieID", 1: "YearOfRelease",2:"Title"},inplace=True) #Rename Column Names
# print(df.values[3933]) #Convert dataframe to numpy array and print value at index 3933
# print(df.index) #Print all indexes in the df
# print(len(df.columns)) #Print no of columns in df
# df["MovieID"] = np.where(df["MovieID"] == 1, True, False) #Modofify values in column where movieID=1 T else F

# pd.to_numeric(df['YearOfRelease'], errors='coerce') #Convert the data type of column
# df[1] = df[1].astype('int') #Convert the data type of column
# df['Title'] = df[2].astype(str)+df[3]+df[4]+df[5] #Combine columns without any one of the columsn having NaN values
# df['Title'] = df[[2,3,4,5]].apply(lambda x: ''.join(x?x.astype(str):''), axis=1) #Combine columns without NaN values
# df['Title'] = df[[2,3,4,5]].agg(''.join, axis=1) #Combine columns without NaN values
# df['Title'] = df[2].str.cat(df[[3,4,5]], sep='',na_rep='') #Combine columns with NaN values

In [ ]:
cols = df.columns[:10] # first 30 columns
colours = ['#000099', '#ffff00'] # specify the colours - yellow is missing. blue is not missing.
sns.heatmap(df[cols].isnull(), cmap=sns.color_palette(colours))

In [ ]:
# if it's a larger dataset and the visualization takes too long can do this.
# % of missing.
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))